main {
  min-height: 80vh;
}

.game-title-card {
  font-size: 1.4em;
  text-align: center;
  padding-bottom: .4rem;

}

.rating span {
  margin: 0.1rem
}

h3 {
  margin-top: 1.3rem;
}

h2 {
  font-size: 1.4rem;
  padding: .5rem 0;
}

.hovered-card {
  transition: opacity .3s ease-in-out;
}

.hovered-card:hover {
  opacity: .5;
}
